/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9f6761;
  --ifm-color-primary-dark: #8f5d57;
  --ifm-color-primary-darker: #875752;
  --ifm-color-primary-darkest: #6f4844;
  --ifm-color-primary-light: #a97671;
  --ifm-color-primary-lighter: #ae7e79;
  --ifm-color-primary-lightest: #bc9591;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme='dark'] {
  --ifm-color-primary: #9f6761;
  --ifm-color-primary-dark: #8f5d57;
  --ifm-color-primary-darker: #875752;
  --ifm-color-primary-darkest: #6f4844;
  --ifm-color-primary-light: #a97671;
  --ifm-color-primary-lighter: #ae7e79;
  --ifm-color-primary-lightest: #bc9591;
}